awscli
black
flake8
ipython
isort
jupyterlab
loguru
matplotlib
mkdocs
mlflow
notebook
numpy
omegaconf
pandas
pip
python-dotenv
scikit-learn
tqdm
typer
mypy
pre-commit
boto3
types-boto3
-e .
